* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-padding-top: 80px; */
}

body {
    margin: 0;
    padding: 0;
   
}
header{
    font-family: Alice;
    font-size: 30px;
    text-align: center;
     color: white; 
    background-color: #1c4587;
    width: 100%; 
    position: fixed; 
    top: 0; 
    padding: 10px; 
    border-bottom: solid #c9daf8 10px;
    /* ^ Remember to use SOLID! (Spent 10 mins on this...) */
    z-index: 1;
    /* ^ This allows the header to appear above the background image from my understanding, you can use z-index with different numbers to have them layer upon eachother */
    
}
nav {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    align-items: center;
    font-size: 15px;
}

.image-sky {
    background-image: url(background-sky.jpg);
}
.contentbox {
    position: relative;
    padding-top: 70px;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}
.pagecontent {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    top: 12vh;
    left: 10vw;
    width: 80%; 
    /* Use a percentage rather than a fixed width so the box is able to flex with window size */
    height: auto; 
    /* border: 1px solid black; */
    /* ^ Was used to understand positioning/flex */
    gap: 10px; 
    padding: 1%;

    
}
     
 .synopsis {
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    background: #1c4587;
    padding: 100px;
    width: 28%;
    height: 600px;
    border: 2px solid white;
    
} 
.firstpageimg {
    position: relative;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    background: #1c4587;
    padding: 10px;
    width: 28%;
    height: 600px;
    border: 2px solid white;   
}
.firstimg {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 2;
    left: 2;
    padding: 20%;
    width: 95%;
    height: 97%;
    background-image:  linear-gradient(to top, rgba(130, 162, 231, 1), rgba(130, 162, 231, 0));
    z-index: 2;
}
.Nerina1 {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
}

h2 {
    color: #c9daf8;
    position: absolute;
    display: flex;
    align-self: flex-end;
    font-family: Alice;
    font-size: 50px;
    font-weight: 100;
    bottom: 15%;
    z-index: 3;
    line-height: 0.5;
    text-align: center;
}
h3 {
    color: #c9daf8;
    position: absolute;
    display: flex;
    align-self: flex-end;
    bottom: 5%;
    z-index: 3;
    font-family: Alice;
    font-weight: 100;

}
.cList {

}

        /* position: absolute;
        bottom: 200px;
        display: flex;
        align-items: flex-end;
        background: #1c4587;
        margin-top: 0px;
        padding: 90px;
        
        width: 700px;
        border: 20px solid black  */
p {
    color: white;
}
ul {
    list-style-type: none;
    color: white;
}
